/* Импортируем шрифт */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Общие настройки для всей страницы */

:root {
	--background: #f2f1ef;
	--black: #161513;
	--red: #e94d35;
	--white: #ffffff;
	--pink: #e6e3de;
	--gray: #bdb8ad;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--background);
	color: var(--black);
	font-family: 'Bai Jamjuree', sans-serif;
	overflow-x: hidden;
}

/* Настройка скролла */

body::-webkit-scrollbar {
	background-color: var(--background);
	width: 12.5px;
}

body::-webkit-scrollbar-track {
	background-color: var(--background);
	border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--red);
	border-radius: 100px;
}

/* Обёртка для блока 1440px */

.wrapper {
	width: 100%;
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 25px;
}

/* Контейнер для блока 1060px */

.container {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 25px;
}

/* Общие настройки для блоков */

.block {
	margin-top: 120px;
}

/* Боксы для цветных блоков */

.box__pink {
	background-color: var(--pink);
}

.box__black {
	background-color: var(--black);
	color: var(--white);
}

/* Шапка сайта */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 0;
}

.header__logo {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 13px;
	font-size: 32px;
	font-weight: 700;
}

.icon {
	color: var(--red);
}

.header__items {
	display: flex;
	gap: 32px;
}

.header__link {
	list-style: none;
	padding: 5px 0;
	transition: .125s ease;
	text-decoration: none;
	font-size: 16px;
	color: var(--black);
}

.header__link:hover {
	border-bottom: 1px solid var(--black);
}

.header__button {
	color: var(--black);
	text-decoration: none;
	font-size: 16px;
	padding: 9px 26px;
	border: 1px solid var(--black);
	transition: .125s ease;
}

.header__button:hover {
	color: var(--white);
	background-color: var(--black);
}

/* Блок интро */

.intro {
	margin: 13px 0 120px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.intro__title {
	font-size: 56px;
	text-transform: uppercase;
	margin: 0;
}

.intro__skills {
	display: flex;
	gap: 30px;
	margin: 35px 0 40px 0;
}

.intro__item {
	text-transform: uppercase;
	padding: 0 16px;
	list-style: url(../img/marker.png);
	font-size: 23px;
}

.intro__item:first-child {
	list-style: none;
	padding: 0 16px 0 0;
}

.intro__talk {
	display: flex;
}

.intro__text,
.intro__link {
	padding: 13px 33px;
	font-size: 16px;
}

.intro__text {
	background-color: var(--black);
	color: var(--white);
}

.intro__link {
	text-decoration: none;
	color: var(--black);
	transition: .125s ease;
	border: 1px solid var(--black);
	border-left: unset;
}

.intro__link:hover {
	background-color: var(--red);
	color: var(--white);
	border: 1px solid var(--red);
	border-left: unset;
}

.intro__image {
	max-width: 562px;
    width: 100%;
    height: auto;
}

/* Блок с навыками */

.skills {
	background-color: var(--black);
	color: var(--white);
	margin-bottom: 120px;
}

.skills__items {
	display: flex;
	flex-wrap: wrap;
	padding: 25px 45px;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.skills__item {
	list-style: none;
	text-transform: uppercase;
	font-size: 18px;
	display: flex;
	gap: 25px;
}

/* Блок обо мне */

.about {
	display: flex;
	justify-content: space-between;
}

.about__person {
	max-width: 350px;
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.about__name {
	font-size: 23px;
	text-transform: uppercase;
}

.about__job {
	font-size: 56px;
}

.about__description {
	max-width: 600px;
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.about__title {
	font-size: 31px;
}

.about__text {
	font-size: 18px;
}

.about__data {
	display: flex;
	justify-content: space-between;
}

.about__item {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.about__sup {
	color: var(--red);
	font-size: 12px;
	text-transform: uppercase;
}

.about__sub {
	font-size: 23px;
}

/* Блок опыта работы */

.experience {
	border: 2px solid var(--black);
}

.experience__items {
	display: flex;
}

.experience__item {
	width: 33.3%;
	list-style: none;
	padding: 25px 75px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.experience__item-center {
	color: var(--white);
	background-color: var(--black);
}

.experience__quantity {
	font-size: 56px;
}

.experience__description {
	font-size: 16px;
}

/* Определение стилей для общего заголовка блока */

.block__icon,
.block__title,
.block__text {
	text-align: center;
}

.block__icon {
	font-size: 40px;
	display: block;
}

.block__title {
	font-size: 45px;
	margin: 22px 0 18px 0;
}

.block__text {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 60px;
}

/* Блок с наградами */

.awards__items {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.awards__item {
	list-style: none;
	border: 2px solid var(--black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 35px;
}

.awards__content-one,
.awards__content-two {
	display: flex;
	align-items: center;
}

.awards__content-one {
	gap: 24px;
}

.awards__content-two {
	gap: 16px;
}

.awards__number {
	padding: 12.5px 20px;
	background-color: var(--red);
	color: var(--white);
	font-size: 18px;
}

.top__row {
	font-size: 23px;
}

.bottom__row {
	font-size: 18px;
}

.awards__direction,
.awards__date {
	font-size: 16px;
	text-transform: uppercase;
}

/* Блок портфолио */

.portfolio__items {
	display: flex;
	flex-direction: column;
	gap: 95px;
}

.portfolio__item {
	list-style: none;
	display: flex;
	gap: 45px;
	align-items: center;
	justify-content: space-between;
}

.portfolio__content {
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
	gap: 40px;
}

.portfolio__photo {
	max-width: 460px;
	width: 60%;
	height: auto;
}

.portfilio__title {
	font-size: 18px;
	text-transform: uppercase;
	background-color: var(--red);
	color: var(--white);
	padding: 5px 12px;
}

.portfolio__text {
	font-size: 45px;
}

.portfolio__link {
	color: var(--black);
	font-size: 20px;
	transition: .125s ease;
}

.portfolio__link:hover {
	color: var(--red);
}

.portfolio__link:active {
	color: var(--black);
}

/* Блок услуги */

.services__items {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: space-between;
}

.services__item {
	list-style: none;
	width: 500px;
	border: 2px solid var(--black);
	padding: 35px;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.services__title {
	font-size: 31px;
}

.services__text {
	font-size: 18px;
}

/* Блок клиентов */

.clients__items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	margin-top: 62px;
}

.clients__item {
	list-style: none;
	border: 2px solid var(--black);
	width: 250px;
	padding: 45px 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Блок со статьями */

.articles {
	margin-bottom: 136px;
}

.articles__box {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.articles__item {
	display: flex;
	justify-content: space-between;
	border: 2px solid var(--black);
	align-items: center;
	padding: 25px;
}

.articles__main {
	display: flex;
    flex-direction: column;
    gap: 5px;
}

.articles__data {
	font-size: 16px;
	color: var(--red);
	text-transform: uppercase;
	display: flex;
	gap: 14px;
}

.articles__title {
	font-size: 24px;
}

.articles__text {
	max-width: 500px;
    width: 100%;
	padding-left: 25px;
	font-size: 16px;
}

.articles__browse {
	display: block;
	background-color: var(--black);
	color: var(--white);
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	padding: 12px 0;
	transition: .125s ease;
}

.articles__browse:hover {
	background-color: var(--red);
}

/* Блок с подпиской */

.subscribe {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px 0;
}

.subscribe__text {
	font-size: 23px;
}

.subcribe__form {
	display: flex;
	gap: 24px;
}

.subscribe__email {
	background-color: transparent;
	border: 2px solid var(--black);
	padding: 12px 21px;
	font-size: 23px;
	outline: none;
}

.subscribe__submit {
	padding: 12px 15px;
	border: 2px solid var(--black);
	font-size: 23px;
	background-color: var(--black);
	color: var(--white);
	transition: .125s ease;
}

.subscribe__submit:hover {
	cursor: pointer;
	background-color: var(--red);
	border: 2px solid var(--red);
}

/* Подвал сайта */

.footer {
	padding: 70px 0 26px 0;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.footer__links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__icon {
	font-size: 32px;
}

.footer__items,
.footer__networks {
	display: flex;
	align-items: center;
}

.footer__items {
	gap: 46px;
}

.footer__item {
	list-style: none;
}

.footer__link,
.network__link {
	color: var(--white);
	font-size: 16px;
	text-decoration: none;
	transition: .125s ease;
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__social {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__made {
	font-size: 14px;
}

.footer__networks {
	gap: 16px;
}

.footer__network {
	list-style: none;
}

.network__link {
	font-size: 24px;
	color: var(--gray);
}

.network__link:hover {
	color: var(--red);
}